.btn1 {
	height: 3rem;
	width: 3rem;
    color: cadetblue;
}

.btn2 {
	height: 3rem;
	width: 6.5rem;
    color:cadetblue
}

.display-box {
	height: 3rem;
	width: 13rem;
	background-color: paleturquoise;
	border: solid darkgrey;
	border-radius: 0.5rem;
}

.calculator {
	background-color: indianred;
    
}