.title{
    text-align: center;
    font-size: 3en;
}

p{
    font-size: 2en;
}

.parrafo-1{
    display: none;
}
.parrafo-2{
    display:hidden;
}

.container{
    width: 500px;
    height: 500px;
    border: 10px dashed black;
}
.box1, .box2, .box3, .box4, .box5{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 3em;
    margin: 5px;
}

.box1{
    border: 10px dashed pink;
    background-color: transparent;
    position:absolute;
    top:10px;
    left:10px;
}

.box2{
    border: 10px dashed blue;
    background-color: transparent;
    position:absolute;
    top:10px;
    left: 395px;
}

.box3{
    border: 10px dashed green;
    background-color: transparent;
    position:absolute;
    bottom:180px;
    left:10px;
}

.box4{
    border: 10px dashed cyan;
    background-color: transparent;
    position:absolute;
    bottom:180px;
    left:395px;
}

.box5{
    border: 10px dashed yellow;
    background-color: transparent;
    position:absolute;
    top:200px;
    left:200px;
}

