.titulo{
    font-size: 5em;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.sub{
    font-size: 3em;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

gral{
    font-size: 0.25em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}